<footer class="footer" title="the end"> 
    <div class="footer__container">
        <h4 title="Store">Tienda</h4>
        <nav class="footer__nav">    
        <ul class="footer__ul">
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Products">Productos</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Drawers">Cajoneras</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Family">Para toda la casa</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Rooms">Habitaciones</a>
            </li>
        </ul>
    </nav>
    <h4 title="Us">Nosotros</h4>
    <nav class="footer__nav">
        <ul class="footer__ul">

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our guide">Nuestra guía</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our design">Nuestro diseño</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our History">Nuestra historia</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Help">Ayuda</a>
            </li>
        </ul>
    </nav>
    <h4 title="Contact">Contacto</h4>
    <nav class="footer__nav">
            <ul class="footer__ul">
                <li>
                    <a class="footer__menu--links">ayuda@openspaces.com</a>
                </li>
                <li>
                    <a class="footer__menu--links" href="https://adalab.es" title="Partners">Socios</a>
                </li>
            </ul>
    </nav>

    <div class="redes-container">
        <ul class="redes-container__ul">
            <li>
                <a href="https://es.linkedin.com/">
                    <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG2.png" class="redes-container__logos" alt="image">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=es">
                    <img src="https://pngimg.com/uploads/instagram/instagram_PNG1.png" class="redes-container__logos" alt="image">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=es">
                    <img src="https://pngimg.com/uploads/twitter/twitter_PNG3.png" class="redes-container__logos" alt="image">
                </a>
            </li>
        </ul>
  
        <div class="rotate"><a href="#home"><img class="arrow"  src="https://flyclipart.com/thumb2/flecha-roja-por-spreadshirt-768126.png" alt="icono inicio de página" title="Ir al inicio de la página"/></a></div>

    </div>

</div>
</footer>