<footer class="footer">
        <h4 title="Store">Tienda</h4>
        <nav>
        <ul class="footer__menu">
            <li><a class="footer__menu--links" href="https://adalab.es" title="Products">Productos</a></li>
            <li><a class="footer__menu--links" href="https://adalab.es" title="drawers">Cajoneras</a></li>
            <li><a class="footer__menu--links" href="https://adalab.es" title="Family">Para toda la casa</a></li>
            <li><a class="footer__menu--links" href="https://adalab.es" title="Rooms">Habitaciones</a></li>
        </ul>
    </nav>
    <nav>
        <h4 title="Us">Nosotros</h4>
        <ul class="footer__menu">

            <li><a class="footer__menu--links" href="https://adalab.es" title="Our guide">Nuestra guía</a></li>

            <li><a class="footer__menu--links" href="https://adalab.es" title="Our design">Nuestro diseño</a></li>

            <li><a class="footer__menu--links" href="https://adalab.es" title="Our History">Nuestra historia</a></li>

            <li> <a class="footer__menu--links" href="https://adalab.es" title="Help">Ayuda</a></li>
        </ul>
    </nav>
  

    <nav>
            <h4 class="Contact" title="Contact">Contacto</h4>
            <ul>
                <li><a class="footer__menu--links">ayuda@openspaces.com</a></li>
                <li><a class="footer__menu--links" href="https://adalab.es" title="Partners">Socios</a></li>
            </ul>
    </nav>

    <div class="redes-container">
        <ul>
            <li><a href="#" class="linkedin"><i class="fab fa-linkedin-f"></i></a></li>
            <li><a href="#" class="instagram"><i class="fab fa-instagram-f"></i></a></li>
            <li><a href="#" class="twiter"><i class="fab fa-twitter-f"></i></a></li>
        </ul>

    </div>
    <a href="#home" title="Ir a inicio web">

    </a>

</footer>