<footer class="footer"> 
    <div class="container">
        <nav>
            <h4 title="Store">Tienda</h4>
        <ul class="footer__ul">
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Products">Productos</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Drawers">Cajoneras</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Family">Para toda la casa</a>
            </li>
            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Rooms">Habitaciones</a>
            </li>
        </ul>
    </nav>
    <nav>
        <h4 title="Us">Nosotros</h4>
        <ul class="footer__ul">

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our guide">Nuestra guía</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our design">Nuestro diseño</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Our History">Nuestra historia</a>
            </li>

            <li>
                <a class="footer__menu--links" href="https://adalab.es" title="Help">Ayuda</a>
            </li>
        </ul>
    </nav>

    <nav>
            <h4 class="Contact" title="Contact">Contacto</h4>
            <ul class="footer__ul">
                <li>
                    <a class="footer__menu--links">ayuda@openspaces.com</a>
                </li>
                <li>
                    <a class="footer__menu--links" href="https://adalab.es" title="Partners">Socios</a>
                </li>
            </ul>
    </nav>

    <div class="redes-container">
        <ul class="redes-container__ul">
            <li>
                <a href="#">
                    <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG2.png"  class="redes-container__logos">
                </a>
            </li>
            <li>
                <a href="#" >
                    <img src="https://pngimg.com/uploads/instagram/instagram_PNG1.png" class="redes-container__logos">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://pngimg.com/uploads/twitter/twitter_PNG3.png" class="redes-container__logos">
                </a>
            </li>
        </ul>
    </div>
    <a href="#home" title="Ir a inicio web">

    </a>

</div>
</footer>