<header id="home" class="header">

    <nav class="header__container">
        <ul class="header__container--list">
            <li>Productos</li>
            <li>Colecciones</li>
            <li>Tienda</li>
            <li>Inicio</li>
          </ul>
          
        <a title="header__burger--link" href="https://adalab.es">
        <img src="./assets/images/menu-icon.png" class="header__container--burger" alt="burger"/></a>

        <img src="./assets/images/logo.png" class="header__container--logo" alt="logo"/>
    </nav>

    <div class="header__container2">
        <h1 class="header__container2--title">Disfruta Creando Espacios</h1>
    <button class="header__container2--button1">comprar ahora
    </button>
    </div>
</header>