<header id="home" class="header">
    <div class="center">
    <div class="header__menu">
        <img src="./assets/images/menu-icon.png" class="burger" alt="burger" />
        <a title="logo link" href="https://adalab.es"></a>
    </div>
    <div>
        <img src="./assets/images/logo.png" class="logo" alt="logo" />
    </div>
    </div>
    <div class="center2">
    <div><h1 class="header__title">Disfruta Creando Espacios</h1><div>
    <div></div>
    <button class="button1">Comprar Ahora</button><div></div>
    </div>
</header>