<section class="section1" title="section1">
      <h2 class="section1__article--title">Volverse organizado se siente mejor con OPEN SPACES</h2>
        <article class="section1__need">
            <img class="icon" src="./assets/images/icon_1.png" width=" 90" height=" 99"/>
          <h3 class="section1-title">Lo que necesitas</h3>
          <p class="section1-paragraph">Una línea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="section1__title2">
            <img class="icon" src="./assets/images/Biodegradable bag.png" width="72" height=" 81"/>
            <h3 class="section1-title2">Materias primas sustentables</h3>
          <p class="rsection1-paragraph2">Todos los productos con materias primas sustentables</p>
        </article>
        <article class="section1__title3">
            <img class="icon" src="./assets/images/Park.png" width="78.9" height="67.5"/>
            <h3 class="section1-title3">Guía</h3>
          <p class="section1-paragraph3">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>  