<section class="section1" title="section1">
      <h2 class="section1__item1">Volverse organizado se siente mejor con OPEN SPACES</h2>

        <div class="section1__item2">
            <img class="icon" src="./assets/images/icon_1.png" width=" 90" height=" 90"/>
          <h3 class="section1__title">Lo que necesitas</h3>
          <p class="section1-paragraph">Una línea de productos diseñados para todos tus espacios</p>
        </div>

        <div class="section1__item3">
            <img class="icon" src="./assets/images/Biodegradable bag.png" width="90" height="90"/>
            <h3 class="section1__title">Materias primas sustentables</h3>
          <p class="section1-paragraph">Todos los productos con materias primas sustentables</p>
        </div>

        <div class="section1__item4">
            <img class="icon" src="./assets/images/Park.png" width="90" height="90"/>
            <h3 class="section1__title">Guía</h3>
          <p class="section1-paragraph">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
  </section>  