.footer{
background-color: $darkgreen;
color: $lightngray;
padding-top: 45px;
padding-bottom: 60px;

&__menu--links{
    font-size: 14px;
    text-decoration: none;
    color: $lightngray;
    display:  flex;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
}
&__container{
  padding-left: 20px;
  padding-top: 30px;
  margin-left: 50px;
}
&__ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.redes-container {
  list-style: none;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  &__logos {
    width: 24px;
    height: 26px;
    padding-right: 20px;
  }

}

.arrow{
  width: 35px;
  height: 20px;
}
.rotate{
  transition: all 0.6s ease;
  display: block;
}
.rotate:hover {
  transform: rotate(360deg);
}
@media all and (min-width: 768px){


}

}