h4 {
  text-align: center;
}

.footer {
background-color: $darkgreen;
color: $lightngray;
padding-top: 45px;
padding-bottom: 60px;
 

&__menu--links{
    font-size: 14px;
    text-decoration: none;
    color: $lightngray;
    display: inline-block;
}

&__ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.redes-container {
  list-style: none;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  &__logos {
    width: 24px;
    height: 26px;
  }
  

}
&__button {
  transform: translatex(40px);
}

}

@media all and (min-width: 768px){}


@media all and (min-width: 1200px){}