.header {
    position: relative;
    width: 100%;
    padding: 0;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container {
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 999;
    
       &--burger{
      height: 24px;
      width: 24px;
      display: flex;
      position: absolute;
      margin-top: 55px;
      left: 33px;
      }
        &--list {
        color: $darkgreen;
        display: none;
      }

        &--logo {
        margin-left: 15px;
        padding-top: 20px;
      }
      
    }

    &__container2 {
      display: flex;
      flex-direction:column;
      align-items: center;
      z-index: 999;
      align-content: center;
      flex-wrap: wrap;

      &--title {
        color: $darkgreen;
        font-family: $fontfamily;
        font-size: 24px;
        margin: 100px 0 24px;
        text-align: center;
        }
        &--button1 {
          background-color: $darkgreen;
          color: $white;
          text-transform: capitalize;
          border: 0;
          width: 176px;
          height: 48px;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 50px;
        }
        &--button1:hover {
          width: 352px;
          height: 96px;
          background-color: purple;
          transition: all 500ms ease;

        }
  }
  @media all and (min-width: 1200px) {
    .header__container--burger{
      display: none;
    }

    .header {

      &__container{
        &--list {
          color: $darkgreen;
          list-style-type: none;
          display: flex;
          align-items: flex-start;
          margin-top: 40px;
          gap: 10px;
        }
      }

      &__container2 {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
  
        &--title {
          margin-left: 200px;
        }
        &--button1 {
          margin-left: 50px;
        }
      }
    }
}
}