.section1 {
    color: $darkgreen;
    font-family: $fontfamily;
    background-color: $beige;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 20%;
    grid-gap: 0;
    padding: 60px;

    &__item1{
        grid-column-start: 1;
        grid-column-end: 1;
    }  
    &__item2{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    &__item3{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    &__item4{
        grid-column-start: 1;
        grid-column-end: 1;
    }

@media all and (min-width: 768px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;

    &__item1{
        grid-column-start: 1;
        grid-column-end: 4;  
    } 
    &__item2{
        grid-row-start: 2;
        grid-row-end: 2;
    }
    &__item3{
        grid-column-start: 3;
        grid-column-end: 3;
    }
    &__item4{
        grid-column-start: 4;
        grid-column-end: 4;
        padding-left: 50px;
    }
}
}