.section1 {
    color: $darkgreen;
    font-family: $fontfamily;
    background-color: $beige;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 60% 50%;
    grid-gap: 0;

    &__item1{
        grid-column-start: 1;
        grid-column-end: 12;
        text-align: center;
    }
    &__item2{
        grid-column-start: 5;
        grid-column-end:8;
        text-align: center;
    }
    &__item3{
        grid-column-start: 5;
        grid-column-end:8;
        text-align: center;
    }
    &__item4{
        grid-column-start: 5;
        grid-column-end:8;
        text-align: center;
    }

@media all and (min-width: 768px){
    &__item1{
        grid-column-start: 1;
        grid-column-end: 12;
        text-align: center;
    }
    &__item2{
        grid-column-start: 2;
        grid-column-end: 4;
        text-align: center;
    }
    &__item3{
        grid-column-start: 5;
        grid-column-end: 8;
        text-align: center;
    }
    &__item4{
        grid-column-start: 9;
        grid-column-end: 11;
        text-align: center;
    }
}
}