.section2{
    background-color: $orange;
    color: $white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;

    &__title{
    font-size: 24px;
    }
    &__paragraph{
    font-size: 14px;
    margin-bottom: 20px;
    }
    &__link{
    color: $white;
    font-size: 16px;
    }
}