.section2{
    background-color: $orange;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__title{
    font-size: 24px;
    font-weight: 600;
    margin:0;
    }
    &__paragraph{
    font-size: 14px;
    font-weight: normal;
    }
    &__link{
    color: $white;
    font-size: 16px;
    font-weight: 600;
    }
}